div {
  font-size: 20px;
  font-weight: 100px;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  padding: 5px;
}

h1 {
  font-size: 20px;
  font-weight: 100px;
  font-family: "Times New Roman", Times, serif;
  color: blue;
  margin: 10px;
  padding: 5px;
}
